# Set a custom Build Number to be replaced in Assembly Files later
# Format 1.1.1.1 -> .net std
name: $(MajorVersion).$(MinorVersion).$(Year:yy)$(Month)$(DayOfMonth).$(Rev:r)

trigger:
- master

pool:
  name: Default
  demands:
  - agent.name -equals iis_2

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  


steps:

- task: NuGetToolInstaller@1


# Update Version Number
- task: VersionDotNetCoreAssemblies@2
  inputs:
    Path: '$(Build.SourcesDirectory)'
    VersionNumber: '$(Build.BuildNumber)'
    Injectversion: true
    FilenamePattern: '.csproj'
    AddDefault: true
    OutputVersion: 'OutputedVersion'


# Build GUI Part
- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Macrogoat/MacroGoat.csproj'



- task: VSBuild@1
  inputs:
    solution: 'Macrogoat/MacroGoat.csproj'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\macrogoat-gui.zip" /p:DeployIisAppPath="macrogoat-gui"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'



# Build API Part

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'SignerApi/SignerApi.csproj'

- task: VSBuild@1
  inputs:
    solution: 'SignerApi/SignerApi.csproj'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\macrogoat-api.zip" /p:DeployIisAppPath="macrogoat-api"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'