# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  name: Default
  demands:
  - agent.name -equals iis_2

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  #versionstring: $[format('{0:yyyy}-{0:MM}-{0:dd}T{0:HH}:{0:mm}:{0:ss}', pipeline.startTime)]
  versionstring: $(MajorVersion).$(MinorVersion).$[date:yy]



steps:
# Calculate Version String
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "$(versionstring)"
      exit 1

- task: NuGetToolInstaller@1


# Update Version Number
- task: VersionDotNetCoreAssemblies@2
  inputs:
    Path: '$(Build.SourcesDirectory)'
    VersionNumber: '2.0.$(Build.BuildNumber)'
    Injectversion: true
    FilenamePattern: '.csproj'
    AddDefault: true
    OutputVersion: 'OutputedVersion'


# Build GUI Part
- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Macrogoat/MacroGoat.csproj'



- task: VSBuild@1
  inputs:
    solution: 'Macrogoat/MacroGoat.csproj'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\macrogoat-gui.zip" /p:DeployIisAppPath="macrogoat-gui"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'



# Build API Part

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'SignerApi/SignerApi.csproj'

- task: VSBuild@1
  inputs:
    solution: 'SignerApi/SignerApi.csproj'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\macrogoat-api.zip" /p:DeployIisAppPath="macrogoat-api"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'