@using Microsoft.AspNetCore.Identity
@using MacroGoat.Models
@using Microsoft.Extensions.Configuration
@using MacroGoat.Services

@inject SignInManager<GUser> SignInManager
@inject UserManager<GUser> UserManager
@inject GHelperService hlp


@{
    string profilePicDir = hlp.getProfilePicturesWebserverDir();

    // init to Success by default for security: warning
    PasswordVerificationResult isDefaultSuperAdminPw = PasswordVerificationResult.Success;
}

<ul class="navbar-nav" id="usernavbar" onload="console.log('LOAD');">
    @if (SignInManager.IsSignedIn(User))
    {
        // Get User Object if any signed in
        var guser = await UserManager.GetUserAsync(User);

        // Check if default credentials used
        isDefaultSuperAdminPw = UserManager.PasswordHasher.VerifyHashedPassword(guser, guser.PasswordHash, "MacroGoat#22");

        @if (guser.ProfilePicture != null)
        {
            <li>
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="/@profilePicDir/@UserManager.GetUserAsync(User).Result.ProfilePicture">
                </a>
            </li>
        }
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@guser.FirstName @guser.LastName</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


@if (SignInManager.IsSignedIn(User) && isDefaultSuperAdminPw == PasswordVerificationResult.Success)
{
   
    <script type="text/javascript">
        $(document).ready(function () {
           
            var msg = "You are using default super admin credentials. Goto Profile and change PW immedeately from 'MacroGoat#22' to a safe PW!!"
            $('#accordionSidebar').notify(msg, { position: "right top", autoHide: false });

            $('.notifyjs-container').click(function () {
                window.location.href = '@Url.Page("/Account/Manage/Index", new { area = "Identity"})'
                });
        });
    </script>
}


